<div class="m-4 flex justify-content-center">

  <div class="col-2">
    <div class="w-full">
      <button pButton severity="success" class="w-full"
              (click)="handleAddLine()"
      >add line</button>
    </div>
    <div class="w-full">
      <button pButton severity="danger" class="w-full"
              (click)="handleRemoveLine()"
      >remove line</button>
    </div>
    <div class="w-full">
      <button pButton severity="success" class="w-full"
              (click)="handleAddColumn()"
      >add column</button>
    </div>
    <div class="w-full">
      <button pButton severity="danger" class="w-full"
              (click)="handleRemoveColumn()"
      >remove column</button>
    </div>

  </div>
  <div>
    <div class="flex mb-4">
      <div class="square red"
           (click)="handleChangeColor('red')"
      ></div>
      <div class="square green"
           (click)="handleChangeColor('green')"
      ></div>
      <div class="square blue"
           (click)="handleChangeColor('blue')"
      ></div>
    </div>


    <div>
      @for( line of  pixels; track y; let y = $index){
        <div class="flex">
          @for ( pixel of line; track x; let x = $index) {
            <div class="square"
                 (click)="handleColorPixel(x,y)"
                 [ngClass]="pixels[y][x]"
            ></div>
          } @empty {
            <div class="square">
              no cols
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="col-2">
    <p>taille: {{ size() }}</p>
  </div>


</div>
